
@model dynamic

<button id="addRow" type="button" class="btn btn-info">Add</button>
<form method="post" asp-controller="Offer" asp-action="AddOffer">
    <div id="newRow">
        <input type="hidden" id="total" value="0" />
    </div>
    <input type="submit" class="btn btn-primary" value="Post" />
</form>

@section Scripts
    {
    <script>
        $("#addRow").click(function () {
            var rowCount = parseInt($("#total").val());
            rowCount++;
            $("#total").val(rowCount);
            var html = '';
            html += '<div id="inputRow">';
            html += '<input type="int" placeholder="Quantity" name="offercreate.QuantityMaterial[' + (rowCount - 1) + '].Quantity"  />';
            html += '<input type="string" placeholder="Material" name="offercreate.QuantityMaterial[' + (rowCount - 1) + '].Material"  />';
            //add more inputs here...
            html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
            html += '</div>';

            $('#newRow').append(html);
        });
        $(document).on('click', '#removeRow', function () {
            var rowCount = parseInt($("#total").val());
            rowCount--;
            $("#total").val(rowCount);
            $(this).closest('#inputRow').remove();
        });
    </script>
 }


